{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>Школа здоровья</h1>
{% endblock %}


{% block nav %}
	<div class="breadcrumbs">
		<a href="{{ path('index') }}">Видаль</a>
		<i></i>
		<a href="{{ path('shkola') }}">Школа здоровья</a>
	</div>
{% endblock %}


{% block content %}
	{% include 'VidalMainBundle:Article:render_article.html.twig' %}
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/article.css') }}"/>
{% endblock %}