<td class="swap">
	<a class="btn btn-swap {{ object.mobile ? 'btn-positive' : 'btn-negative' }}"
	   href="{{ path('swap_main', {'field':'mobile', 'entity':getClass(object), 'id':object.id}) }}">
	</a>
</td>