<td class="swap">
	<a class="btn btn-swap {{ object.disableExport ? 'btn-positive' : 'btn-negative' }}"
	   href="{{ path('swap_field', {'field':'disableExport', 'entity':getClass(object), 'id':object.id}) }}">
	</a>
</td>