<td class="swap">
	<a class="btn btn-swap {{ object.forCompany ? 'btn-positive' : 'btn-negative' }}"
	   href="{{ path('swap_field', {'field':'forCompany', 'entity':getClass(object), 'id':object.id}) }}">
	</a>
</td>