<td class="swap">
	<a class="btn btn-swap {{ object.emailConfirmed ? 'btn-positive' : 'btn-negative' }}"
	   href="{{ path('swap_main', {'field':'emailConfirmed ', 'entity':getClass(object), 'id':object.id}) }}">
	</a>
</td>