<a class="btn btn-small tag-set tag" href="{{ path('tag_clean', {'tagId':object.id, 'ajax':1}) }}"
	title="Очистить все связи тега с материалами">
	<img src="{{ asset('bundles/vidalmain/images/delete.png') }}"/>
</a>