<a class="btn btn-small tag-unset tag" href="{{ path('tag_unset', {'tagId':object.id, 'ajax':1}) }}"
	title="Очистить тег по слову ЦЕЛИКОМ">
	<img src="{{ asset('bundles/vidalmain/images/icons/list-remove.png') }}"
		 alt="{{ 'action_calculate'|trans({}, 'SonataAdminBundle') }}"/>
</a>