<a class="btn btn-small tag-set tag" href="{{ path('tag_set', {'tagId':object.id, 'ajax':1, 'partly':1}) }}"
	title="Выставить по слову ЧАСТИЧНО">
	<img src="{{ asset('bundles/vidalmain/images/Reload.png') }}"
		 alt="{{ 'action_calculate'|trans({}, 'SonataAdminBundle') }}"/>
</a>