<a class="btn btn-small tag-list tag" href="{{ path('tag_list', {'tagId':object.id}) }}"
	title="Материалы по тегу ВСЕ" target="_blank">
	<img src="{{ asset('bundles/vidalmain/images/icons/list.png') }}"
		 alt="{{ 'action_calculate'|trans({}, 'SonataAdminBundle') }}"/>
</a>