{% extends layout | default('VidalMainBundle::minimal_layout.html.twig') %}

{% block body %}
    <p>Здравствуйте,<p>
    <p>Вы отменили запись № <b>{{ data }}</b> на прием ко врачу
    <br/></p>
    {% include 'VidalMainBundle:Email:signature.html.twig' %}
{% endblock %}