{% extends 'VidalMainBundle::minimal_layout.html.twig' %}

{% block body %}
	<p>{{ user.getPoliteReference() }},<p>
	<p>Вы запросили сброс пароля на портале Vidal.ru.<br/>
		Ваш новый пароль: <b style="font-size:18px; margin-left:10px">{{ user.password }}</b></p>
	<p>
		На <a href="{{ url('profile') }}" target="_blank">своей странице</a>
		Вы всегда можете поменять пароль на тот, который Вам больше нравится.</p>

	{%  include 'VidalMainBundle:Email:signature.html.twig' %}
{% endblock %}