{% extends layout | default('VidalMainBundle::minimal_layout.html.twig') %}

{% block body %}
	<p>{{ user.getPoliteReference() }},<p>
	<p>Вы запросили напомнить данные для <a href="https://www.vidal.ru/login">входа</a> на сайт Vidal.ru.<br/>
	<p>Ваш логин: <b>{{ user.username }}</b><br/>
		Ваш пароль: <b>{{ user.password }}</b></p>

	{% include 'VidalMainBundle:Email:signature.html.twig' %}
{% endblock %}