{% extends layout | default('VidalMainBundle::minimal_layout.html.twig') %}

{% block body %}
	<p>{{ user.getPoliteReference() }},<p>
	<p>Вы запросили сброс пароля на портале Vidal.ru.<br/>
		Для того чтобы подтвердить сброс пароля, перейдите по следующей ссылке (или скопируйте ссылку в браузер, если ссылка неактивна):</p>
	<p>{{ url('confirm_password_reset', {'userId': user.id, 'hash': user.hash}) }}</p>
	<p>Новый пароль будет выслан Вам отдельным письмом</p>

	{% include 'VidalMainBundle:Email:signature.html.twig' %}
{% endblock %}