<div class="copy">
	<div class="copy-head">
		Если вы хотите разместить ссылку на описание этого препарата - используйте данный код
	</div>
	{% spaceless %}
		<textarea cols="92" rows="2">
			{% if product is defined %}
				<a href="{{ url('product', {'EngName':product.Name, 'ProductID':product.ProductID}) }}" target="_blank"><b>{{ product.RusName|raw }}</b>. Описание препарата в справочнике Видаль.</a>
			{% else %}
				<a href="{{ url('document', {'EngName':document.Name, 'DocumentID':document.DocumentID}) }}" target="_blank"><b>{{ document.RusName|raw }}</b>. Описание препарата в справочнике Видаль.</a>
			{% endif %}
		</textarea>
	{% endspaceless %}
</div>