{% extends 'VidalDrugBundle::vidal_layout.html.twig' %}


{% block nav %}
	<div class="breadcrumbs">
		<div itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
			<a href="{{ path('index') }}" itemprop="url">
				<span itemprop="title">Видаль</span>
			</a>
		</div>
		<i></i>
		<a href="{{ path('products') }}">
			{{ app.request.get('from') == 'bad' ? 'Препараты и БАД' : 'Препараты' }}
		</a>
	</div>
{% endblock %}


{% block vidal %}
	<div class="restricted">
		<p class="restricted-1">Извините, данный препарат недоступен,<br/>
			так как он с аннулированной или истекшей лицензией.</p>

		<p>По всем вопросам обращайтесь к администрации сайта: <a href="mailto:vidal@vidal.ru">vidal@vidal.ru</a></p>
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.restricted {
			margin-top:  50px;
			font-weight: bold;
			font-size:   16px;
		}
	</style>
{% endblock %}