{% extends 'VidalMainBundle:Astrazeneca:shkola_layout.html.twig' %}


{% block navigation %}
	<div class="breadcrumbs">
		<a href="{{ path('shkola_gastrita') }}">Школа гастрита</a>
		<i></i>
		<span>Карта ближайших поликлиник</span>
	</div>


{% endblock %}


{% block info %}
	{# Карта аптек #}
	<div id="map">
		<div class="content-title">КАРТА АПТЕК</div>
		<iframe src="{{ path('shkola_map') }}" style="width:995px; height:496px; border:none;"></iframe>
	</div>
{% endblock %}