{% extends 'VidalMainBundle::layout_promo.html.twig' %}


{% block middle %}
	{{ render(controller('VidalMainBundle:Astrazeneca:menu', {'request':app.request})) }}
	{% block navigation %}{% endblock %}

	<div class="info">
		{% block info %}{% endblock %}
	</div>
{% endblock %}


{% block footer %}
	<div class="footer">
		<noindex>
			<div class="footer-info">
				Информация о препаратах, отпускаемых по рецепту, размещенная на сайте, предназначена только для
				специалистов.
				Информация, содержащаяся на сайте, не должна использоваться пациентами для принятия самостоятельного
				решения о применении представленных лекарственных препаратов и не может служить заменой очной
				консультации врача.
			</div>
		</noindex>

		<div class="footer-copyright caption">
			© 2014 «Школа Гастрита» - Справочная информация по язве желудка и гастрите
		</div>

		<img class="footer-logo" src="{{ asset('bundles/vidalmain/images/vidal-group.jpg') }}" alt="Vidal group"/>
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/shkola_gastrita2.css') }}"/>
{% endblock %}