<div class="description">
	<span>
		<h1 style="color: inherit; margin-bottom: 0; font-weight: inherit;font-size: inherit;">
			Проверка лекарственного взаимодействия</h1>
	</span>

	{% if p is empty or p < 2 %}
	<div>
		Проверка лекарственного взаимодействия производится только для активных веществ лекарственных средств.
		При выборе нужного активного вещества в списке по алфавиту вы получаете перечень наиболее вероятных
		взаимодействий для данного активного вещества.
	</div>
	<div style="padding-top:0">
		Полную информацию о возможных взаимодействиях конкретного препарата можно получить в его Инструкции
		по применению, утвержденной МинЗдравом РФ.
	</div>
	{% endif %}
</div>