{% extends 'VidalMainBundle:Delivery:layout.html.twig' %}


{% block content %}
	<h1>here</h1>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">

	</style>
{% endblock %}