<html lang="ru">
<head>
	<meta charset="UTF-8"/>
</head>
<body style="background: #E8F2F4">

<table cellpadding="0" cellspacing="0" border="0" width="600"
	   style="background:white; margin:20px auto;">
	{# шапка #}
	<tr>
		<td style="vertical-align:top; font-family:Tahoma,sans-serif; font-size:13px; padding:0; margin:0">
			<img src="https://www.evrika.ru/upload/digest/p-1.jpg" style="border:none; margin:0;"/>
		</td>
	</tr>

	{# середина #}
	<tr>
		<td style="vertical-align:top; font-family:Tahoma,sans-serif; font-size:13px; overflow:hidden;
		position: relative; text-align: right; font-weight: normal; color:#070707; background: url('https://www.evrika.ru/upload/digest/p-2.png') no-repeat top right;">
			<div style="margin:30px 45px; width:510px; text-align: left;">
				<p style="font-size:18px; color:#0078c9; font-weight: normal; margin-bottom: 25px;">Уважаемые
					коллеги!</p>

				<p>
					Международный Центр Дистанционной Диагностики «Remedis»<br/>
					приглашает к работе врачей, готовых оказывать платные дистанционные<br/>
					консультации на основе данных аппаратных и лабораторных<br/>
					исследований.
				</p>

				<p>
					К работе приглашаются врачи, имеющие научные степени, а также врачи<br/>
					с опытом работы не менее 10 лет.
				</p>

				<p>
					Дистанционное консультирование позволи вам:
				</p>

				<table cellspacing="0" border="0" width="100%"
					   style="font-size:13px; font-weight:normal; font-family:Tahoma, sans-serif;">
					<tr>
						<td style="width:15px; vertical-align:top; padding:0 0 10px;">
							<img src="https://www.evrika.ru/upload/digest/p-c.png"
								 style="display:inline-block;vertical-align:top;border:none;"/>
						</td>
						<td style="vertical-align:top; padding:0 0 10px;">Получать дополнительный доход.</td>
					</tr>
					<tr>
						<td style="width:15px; vertical-align:top; padding:0 0 10px;">
							<img src="https://www.evrika.ru/upload/digest/p-c.png"
								 style="display:inline-block;vertical-align:top;border:none;"/>
						</td>
						<td style="vertical-align:top; padding:0 0 10px;">Возможность проводить консультации в
							удобное для вас время.
						</td>
					</tr>
					<tr>
						<td style="width:15px; vertical-align:top; padding:0 0 10px;">
							<img src="https://www.evrika.ru/upload/digest/p-c.png"
								 style="display:inline-block;vertical-align:top;border:none;"/>
						</td>
						<td style="vertical-align:top; padding:0 0 10px;">Использовать привычное для вас оборудование
							(компьютер, планшет и<br/>
							т.д.). Для работы нужен только доступ в интернет.
						</td>
					</tr>
					<tr>
						<td style="width:15px; vertical-align:top; padding:0 0 10px;">
							<img src="https://www.evrika.ru/upload/digest/p-c.png"
								 style="display:inline-block;vertical-align:top;border:none;"/>
						</td>
						<td style="vertical-align:top; padding:0 0 10px;">Получить дополнительную известность и
							расширить практику.
						</td>
					</tr>
					<tr>
						<td style="width:15px; vertical-align:top; padding:0 0 10px;">
							<img src="https://www.evrika.ru/upload/digest/p-c.png"
								 style="display:inline-block;vertical-align:top;border:none;"/>
						</td>
						<td style="vertical-align:top; padding:0 0 10px;">Оказывать законные консультации. Remedis -
							единственный проект,<br/>
							предоставляющий услуги дистанционного консультирования в рамках<br/>
							правового поля.
						</td>
					</tr>
				</table>

				<p>
					Гарантии центра:
				</p>

				<table cellspacing="0" border="0" width="100%"
					   style="font-size:13px; font-weight:normal; font-family:Tahoma, sans-serif;">
					<tr>
						<td style="width:15px; vertical-align:top; padding:0 0 10px;">
							<img src="https://www.evrika.ru/upload/digest/p-c.png"
								 style="display:inline-block;vertical-align:top;border:none;"/>
						</td>
						<td style="vertical-align:top; padding:0 0 10px;">С каждым врачом заключается договор на
							оказание услуг.
						</td>
					</tr>
					<tr>
						<td style="width:15px; vertical-align:top; padding:0 0 10px;">
							<img src="https://www.evrika.ru/upload/digest/p-c.png"
								 style="display:inline-block;vertical-align:top;border:none;"/>
						</td>
						<td style="vertical-align:top; padding:0 0 10px;">Центр несет материальную ответственность
							перед врачом за полное и<br/>
							своевременное проведение расчетов за оказанные услуги.
						</td>
					</tr>
					<tr>
						<td style="width:15px; vertical-align:top; padding:0 0 10px;">
							<img src="https://www.evrika.ru/upload/digest/p-c.png"
								 style="display:inline-block;vertical-align:top;border:none;"/>
						</td>
						<td style="vertical-align:top; padding:0 0 10px;">Безопасность - в соответствии с действующим
							законодательством РФ<br/>
							вся ответственность за предоставленное Пациенту заключение лежит<br/>
							на медицинском центре, его выдавшим.
						</td>
					</tr>
				</table>

			</div>
		</td>
	</tr>
	{# подвал #}
	<tr>
		<td style="vertical-align:top; font-family:Tahoma,sans-serif; font-size:12px; height:116px;">
			<a href="https://remedis.ru/experts-promo/?utm_source=Evrika-newsletter-1&utm_medium=email&utm_term=db&utm_content=1&utm_campaign=vidal"
			   style="text-decoration:none; display:block;">
				<img src="https://www.evrika.ru/upload/digest/p-3.jpg" style="margin:0;border:0"/>
			</a>

			<div style="background: beige; font-size: 12px; text-align: center; font-family:Tahoma, sans-serif; margin:40px 0 0; padding: 7px; border: 1px solid rgb(110, 110, 92);">
				Коллега, если вы вторично получили это письмо, то приносим свои извинения за доставленное беспокойство
				– на сервере произошел технический сбой.
			</div>
		</td>
	</tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" style="width: 600px; margin:0 auto 20px;">
	<tr>
		<td style="font-family:Tahoma, sans-serif; font-size:12px; color:gray; padding: 10px 30px 20px;">
			Вы получили это письмо, потому что подписаны на рассылку новостей портала
			<a href="https://www.vidal.ru">Vidal.ru</a><br/>
			<span style="color:gray">Если Вы не хотите больше получать нашу рассылку, Вы можете отписаться по </span>