<div class="metrika_mail">
	<noscript>
		<div style="position:absolute;left:-10000px;">
			<img src="//top-fwz1.mail.ru/counter?id=2657295;js=na" style="border:0;" height="1" width="1"
				 alt="Рейтинг@Mail.ru"/>
		</div>
	</noscript>
	<a href="http://top.mail.ru/jump?from=2657295">
		<img src="//top-fwz1.mail.ru/counter?id=2657295;t=607;l=1"
			 style="border:0;" height="40" width="88" alt="Рейтинг@Mail.ru"/>
	</a>
</div>
