<table class="market-table">
	<tr>
		<td class="market-info">
			<a href="http://www.wer.ru" target="_blank" class="no-underline">
				Интернет-аптека <b>WER.RU</b>
			</a>
			<div class="market-phone">тел: 8 800 200-31-68, 8 495 989-87-03</div>
		</td>
		<td class="market-logo">
			<a href="http://www.wer.ru" target="_blank">
				<img src="{{ asset('bundles/vidalmain/images/apteka/wer.png') }}"/>
			</a>
		</td>
	</tr>
</table>