<table class="market-table">
	<tr>
		<td class="market-info">
			<a href="http://www.zdravzona.ru" target="_blank" class="no-underline">
				Интернет-аптека <b>ЗДРАВЗОНА</b>
			</a>
			<div class="market-phone">тел: +7 495 225 45 89</div>
		</td>
		<td class="market-logo">
			<a href="http://www.zdravzona.ru" target="_blank">
				<img src="{{ asset('bundles/vidalmain/images/apteka/zz.png') }}"/>
			</a>
		</td>
	</tr>
</table>