<table class="market-table">
	<tr>
		<td class="market-info">
			<a href="http://www.piluli.ru" target="_blank" class="no-underline">
				Интернет-аптека <b>PILULI.RU</b>
			</a>
			<div class="market-phone">тел: 8 495 926-36-428, 800 775-00-07</div>
		</td>
		<td class="market-logo">
			<a href="http://www.piluli.ru" target="_blank">
				<img src="{{ asset('bundles/vidalmain/images/apteka/piluli.png') }}"/>
			</a>
		</td>
	</tr>
</table>