{% extends 'VidalMainBundle::layout.html.twig' %}

{% block content %}
    <h1>ЗАКАЗ УСПЕШНО ОФОРМЛЕН</h1>
    {% if group is defined and summPrice is defined%}
        <script>
            $(document).ready(function(){
                    _gaq.push(['_trackEvent', 'Payment', '{{ group }}','{{ summPrice }}']);
            })
        </script>
    {% endif %}

    <iframe src="{{ url }}" frameborder="0" width="500" height="600" scrolling="no"></iframe>

{% endblock %}