<div class="closed-info">
	<span>Информация по препарату доступна только специалистам.</span><br/>
	<a class="login-popup no-underline" href="#">Войдите</a> или
	<a href="{{ path('registration') }}" class="no-underline closed-info-reg">Зарегистрируйтесь</a>
</div>