{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>ПАРОЛЬ СБРОШЕН</h1>
{% endblock %}


{% block content %}
	<div class="inform thanks">
		<p>Вы успешно сбросили пароль и вошли на сайт. На почту отправлен Ваш новый пароль.</p>

		<p>Рекомендуем вам сменить пароль на такой, который не забудется в
			<a href="{{ path('password_change') }}">своем профиле</a>.</p>

		<p>Новый пароль: <span class="new-password">{{ user.password }}</span></p>
	</div>
{% endblock %}


{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
		.inform {
			margin:    30px 0;
			font-size: 14px;
		}
		.new-password {
			color:          maroon;
			font-weight:    bold;
			font-size:      18px;
			letter-spacing: 1px;
			margin-left:    10px;
		}
	</style>
{% endblock %}
