{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
	<h1>ВОССТАНОВЛЕНИЕ ПАРОЛЯ</h1>
{% endblock %}


{% block content %}
	{% if app.session.flashBag.get('notice')|length %}
		<div class="thanks">
			Вам на почту выслано письмо для подтверждения сброса пароля.
			Чтобы сбросить пароль проверьте почту и пройдите по ссылке, указанной в письме.
		</div>
	{% else %}
		<form id="password_reset_form" action="{{ path('password_reset') }}" method="post" {{ form_enctype(form) }}>
			{{ form_widget(form) }}
		</form>
	{% endif %}
{% endblock %}
