<div class="veterinar-about">
	<div class="veterinar-about-1">
		<p>Вышел в свет справочник ВИДАЛЬ ВЕТЕРИНАР 2013.</p>

		<p>Практикующие ветеринарные врачи и специалисты в области ветеринарии и зоотехнии имеют теперь
			возможность
			в своей повседневной практике воспользоваться научно обоснованной и этичной информацией о
			современных
			лекарственных средствах ветеринарного применения.</p>

		<p>Мы сердечно благодарим все российские и зарубежные компании, поддержавшие издание справочника
			Видаль Ветеринар 2013 г. и создание специального раздела о ветеринарных препаратах на нашем
			сайте.</p>

		<p>Мы с благодарностью примем все конструктивные замечания, направленные на улучшение качества и
			увеличение
			объема информации, представленной в разделе.</p>

		<p>Обращаем внимание специалистов, что большая часть тиража справочника Видаль
			Ветеринар бесплатно распространяется среди ветеринарных врачей на основе уникальной БД
			"Ветеринары России".Если Вы заинтересованы в получении этого и последующих изданий,
			<a target="_new" href="https://www.vidal.ru/netcat_files/File/blank_zayavki_veterinar(1).doc">заполните
				заявку</a> и вышлите ее нам.</p>

		<p>Владельцы животных могут найти в нашем справочнике описания лекарственных
			средств, применяемых при различных заболеваниях у кошек, собак и других домашних питомцев. Но,
			безусловно,
			данная информация является только справочной, и не может заменить консультации у ветеринара.</p>

		<p>Желающие могут приобрести издание Видаль Ветеринар.</p>

		<p>Информация предназначена для ветеринарных врачей, работников ветеринарных служб и
			зоотехнии, студентов сельскохозяйственных и ветеринарных вузов и специалистов, занимающихся
			лекарственных
			обеспечением.</p>
	</div>

	<div class="veterinar-about-2">
		<p>Вы можете приобрести справочники <strong><span>ВИДАЛЬ&nbsp;</span> </strong>"Ветеринарные препараты в
			России"<strong>&nbsp;2013</strong>&nbsp; наиболее удобным для Вас способом:</p>
		<ul>
			<li>
				<a href="{{ path('priobretenie') }}">
					Пересылка по почте в пределах России
				</a> —
				<b>430 руб.</b> (включая почтовые услуги и НДС)
			</li>
			<li>
				<a href="{{ path('priobretenie') }}">
					Приобретение справочников по безналичному расчету самовывозом со склада в Москве
				</a>
				(метро «Кузьминки», Есенинский бульвар, д.1/26 корп. 1, тел (495) 379-05-00) —
				<b>360 руб.</b>
			</li>
		</ul>
	</div>
</div>