<ul id="tree" class="treeview">
	<li id="01" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">01</span>
		<span class="hover">СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ БАКТЕРИАЛЬНЫХ, ВИРУСНЫХ, ГРИБКОВЫХ И ПРОТОЗОЙНЫХ ИНФЕКЦИЙ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="02" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">02</span>
		<span class="">СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ И КОНТРОЛЕ ПАРАЗИТАРНЫХ ЗАБОЛЕВАНИЙ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="03" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">03</span>
		<span class="">ВАКЦИНЫ И ИММУНОЛОГИЧЕСКИЕ СРЕДСТВА</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="04" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">04</span>
		<span>ПРОТИВОВОСПАЛИТЕЛЬНЫЕ СРЕДСТВА</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="05" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">05</span>
		<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ЗАБОЛЕВАНИЙ ПИЩЕВАРИТЕЛЬНОЙ СИСТЕМЫ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="06" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">06</span>
		<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ЗАБОЛЕВАНИЙ СЕРДЕЧНО-СОСУДИСТОЙ СИСТЕМЫ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="07" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">07</span>
		<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ЗАБОЛЕВАНИЙ ДЫХАТЕЛЬНОЙ СИСТЕМЫ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="08" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">08</span>
		<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ВОСПАЛИТЕЛЬНЫХ И АЛЛЕРГИЧЕСКИХ ЗАБОЛЕВАНИЙ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="09" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">09</span>
		<span>СРЕДСТВА, ВЛИЯЮЩИЕ НА НЕРВНУЮ СИСТЕМУ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="10" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">10</span>
		<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ЗАБОЛЕВАНИЙ ЭНДОКРИННОЙ СИСТЕМЫ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="11" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">11</span>
		<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ЗАБОЛЕВАНИЙ ОПОРНО-ДВИГАТЕЛЬНОГО АППАРАТА</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="12" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">12</span>
		<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ЗАБОЛЕВАНИЙ МОЧЕВЫДЕЛИТЕЛЬНОЙ СИСТЕМЫ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="13" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">13</span>
		<span>СРЕДСТВА, ВЛИЯЮЩИЕ НА РЕПРОДУКТИВНУЮ СИСТЕМУ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="14" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">14</span>
		<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ МАСТИТА</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="15" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">15</span>
		<span>ОФТАЛЬМОЛОГИЧЕСКИЕ СРЕДСТВА</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="16" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">16</span>
		<span>ОТОРИНОЛАРИНГОЛОГИЧЕСКИЕ СРЕДСТВА</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="17" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">17</span>
		<span>СРЕДСТВА, ПРИМЕНЯЕМЫЕ ПРИ ЛЕЧЕНИИ ЗАБОЛЕВАНИЙ КОЖИ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="18" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">18</span>
		<span>СРЕДСТВА, ВЛИЯЮЩИЕ НА ЭНЕРГЕТИЧЕСКИЙ И ВОДНО-ЭЛЕКТРОЛИТНЫЙ ОБМЕН</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="19" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">19</span>
		<span>СРЕДСТВА, УВЕЛИЧИВАЮЩИЕ ПРОДУКТИВНОСТЬ, РЕЗИСТЕНТНОСТЬ И ПРИРОСТ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="20" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">20</span>
		<span>ДИАГНОСТИЧЕСКИЕ СРЕДСТВА</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="21" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">21</span>
		<span>СРЕДСТВА РАСТИТЕЛЬНОГО ПРОИСХОЖДЕНИЯ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="22" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">22</span>
		<span>ГОМЕОПАТИЧЕСКИЕ СРЕДСТВА</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="23" class="hasChildren expandable lastExpandable"><div class="hitarea hasChildren-hitarea expandable-hitarea lastExpandable-hitarea"></div>
		<span class="t">23</span>
		<span>ПРОЧИЕ СРЕДСТВА</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
</ul>