<div class="treeview-controls">
	<a id="tree_collapse" href="#">свернуть</a>
</div>

{% set firstUpper = atcCode is defined and atcCode is not empty ? atcCode|first|upper : '' %}

<ul id="tree" class="treeview">
	<li id="A" class="hasChildren expandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">A</span>
		<span class="">Пищеварительный тракт и обмен веществ</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="B" class="hasChildren expandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">B</span>
		<span class="">Кроветворение и кровь</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="C" class="hasChildren expandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">C</span>
		<span class="">Сердечно-сосудистая система</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="D" class="hasChildren expandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">D</span>
		<span>Дерматология</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="G" class="hasChildren expandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">G</span>
		<span class="">Mочеполовая система и половые гормоны</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="H" class="hasChildren expandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">H</span>
		<span class="">Гормоны для системного применения (исключая половые гормоны и инсулины)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="J" class="hasChildren expandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">J</span>
		<span class="">Противомикробные препараты для системного применения</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="L" class="hasChildren expandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">L</span>
		<span class="">Противоопухолевые препараты и иммуномодуляторы</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="M" class="hasChildren expandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">M</span>
		<span class="">Костно-мышечная система</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="N" class="hasChildren expandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">N</span>
		<span class="">Нервная система</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="P" class="hasChildren expandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">P</span>
		<span class="">Противопаразитарные препараты, инсектициды и репелленты</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="R" class="hasChildren expandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">R</span>
		<span>Дыхательная система</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="S" class="hasChildren expandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">S</span>
		<span class="">Препараты для лечения заболеваний органов чувств</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="V" class="hasChildren expandable lastExpandable">
		<div class="hitarea hasChildren-hitarea expandable-hitarea lastExpandable-hitarea"></div>
		<span class="t">V</span>
		<span class="">Прочие препараты</span>
		<ul style="display: none;"
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
</ul>