<div class="treeview-controls">
	<a id="tree_collapse" href="#">свернуть</a>
</div>

<ul id="tree" class="treeview">
<li id="01" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">01</span>
	<span class="">КАРДИОЛОГИЯ. АНГИОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="02" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">02</span>
	<span class="">НЕВРОЛОГИЯ. ПСИХИАТРИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="03" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">03</span>
	<span class="">АНАЛЬГЕТИКИ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="04" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">04</span>
	<span class="">ГЛЮКОКОРТИКОИДНЫЕ СРЕДСТВА (ГКС)</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="05" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">05</span>
	<span class="">ПРОТИВОВОСПАЛИТЕЛЬНЫЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="06" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">06</span>
	<span class="">АНТИБАКТЕРИАЛЬНЫЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="07" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">07</span>
	<span class="">ПРОТИВОПРОТОЗОЙНЫЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="08" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">08</span>
	<span class="">ПРОТИВОГРИБКОВЫЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="09" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">09</span>
	<span class="">ПРОТИВОВИРУСНЫЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="10" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">10</span>
	<span>ПРОТИВОПАРАЗИТАРНЫЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="11" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">11</span>
	<span>ГАСТРОЭНТЕРОЛОГИЯ. ГЕПАТОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="12" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">12</span>
	<span>ПУЛЬМОНОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="13" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">13</span>
	<span>АЛЛЕРГОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="14" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">14</span>
	<span class="">ИММУНОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="15" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">15</span>
	<span class="">ЭНДОКРИНОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="16" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">16</span>
	<span>НАРУШЕНИЯ ОБМЕНА ВЕЩЕСТВ И ЭНЕРГИИ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="17" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">17</span>
	<span>ВИТАМИНЫ. ПОЛИВИТАМИНЫ. МИКРОЭЛЕМЕНТЫ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="18" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">18</span>
	<span class="">ПИТАТЕЛЬНЫЕ СМЕСИ И ПРЕПАРАТЫ ДЛЯ ЛЕЧЕБНОГО ПИТАНИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="19" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">19</span>
	<span class="">ГЕМАТОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="20" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">20</span>
	<span class="">ГЕМОСТАЗ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="21" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">21</span>
	<span class="">АНЕСТЕЗИОЛОГИЯ. РЕАНИМАТОЛОГИЯ. ТРАНСФУЗИОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="22" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">22</span>
	<span class="">ОНКОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="23" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">23</span>
	<span class="">АКУШЕРСТВО. ГИНЕКОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="24" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">24</span>
	<span>ОТОРИНОЛАРИНГОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="25" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">25</span>
	<span>СТОМАТОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="26" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">26</span>
	<span>ОФТАЛЬМОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="27" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">27</span>
	<span>ПРОКТОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="28" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">28</span>
	<span>УРОЛОГИЯ. НЕФРОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="29" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">29</span>
	<span>СРЕДСТВА ДЛЯ НАРУЖНОГО ПРИМЕНЕНИЯ. ДЕРМАТОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="30" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">30</span>
	<span>ДИАГНОСТИЧЕСКИЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="31" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">31</span>
	<span>АНТИСЕПТИЧЕСКИЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="32" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">32</span>
	<span>ТОКСИКОЛОГИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="33" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">33</span>
	<span>ГОМЕОПАТИЧЕСКИЕ СРЕДСТВА</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
<li id="34" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
	<span class="t">34</span>
	<span>СРЕДСТВА РАСТИТЕЛЬНОГО ПРОИСХОЖДЕНИЯ</span>
	<ul style="display: none;">
		<li class="last"><span class="placeholder">&nbsp;</span></li>
	</ul>
</li>
</ul>