<div class="treeview-controls">
	<a id="tree_collapse" href="#">свернуть</a>
</div>

<ul id="tree" class="treeview">
	<li id="A00-B99" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">A00-B99</span>
		<span class="">ИНФЕКЦИОННЫЕ И ПАРАЗИТАРНЫЕ БОЛЕЗНИ (А00-В99)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="C00-D48" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">C00-D48</span>
		<span>НОВООБРАЗОВАНИЯ (C00-D48)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="D50-D89" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">D50-D89</span>
		<span>БОЛЕЗНИ КРОВИ, КРОВЕТВОРНЫХ ОРГАНОВ И ОТДЕЛЬНЫЕ НАРУШЕНИЯ, ВОВЛЕКАЮЩИЕ ИММУННЫЙ МЕХАНИЗМ (D50-D89)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="E00-E90" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">E00-E90</span>
		<span class="">БОЛЕЗНИ ЭНДОКРИННОЙ СИСТЕМЫ, РАССТРОЙСТВА ПИТАНИЯ И НАРУШЕНИЯ ОБМЕНА ВЕЩЕСТВ (E00-E90)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="F00-F99" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">F00-F99</span>
		<span class="">ПСИХИЧЕСКИЕ РАССТРОЙСТВА И РАССТРОЙСТВА ПОВЕДЕНИЯ (F00-F99)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="G00-G99" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">G00-G99</span>
		<span class="">БОЛЕЗНИ НЕРВНОЙ СИСТЕМЫ (G00-G99)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="H00-H59" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">H00-H59</span>
		<span class="">БОЛЕЗНИ ГЛАЗА И ЕГО ПРИДАТОЧНОГО АППАРАТА (Н00-Н59)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="H60-H95" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">H60-H95</span>
		<span>БОЛЕЗНИ УХА И СОСЦЕВИДНОГО ОТРОСТКА (H60-H95)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="I00-I99" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">I00-I99</span>
		<span>БОЛЕЗНИ СИСТЕМЫ КРОВООБРАЩЕНИЯ (I00-I99)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="J00-J99" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">J00-J99</span>
		<span>БОЛЕЗНИ ОРГАНОВ ДЫХАНИЯ (J00-J99)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="K00-K93" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">K00-K93</span>
		<span>БОЛЕЗНИ ОРГАНОВ ПИЩЕВАРЕНИЯ (K00-K93)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="L00-L99" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">L00-L99</span>
		<span>БОЛЕЗНИ КОЖИ И ПОДКОЖНОЙ КЛЕТЧАТКИ (L00-L99)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="M00-M99" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">M00-M99</span>
		<span>БОЛЕЗНИ КОСТНО-МЫШЕЧНОЙ СИСТЕМЫ И СОЕДИНИТЕЛЬНОЙ ТКАНИ (M00-M99)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="N00-N99" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">N00-N99</span>
		<span>БОЛЕЗНИ МОЧЕПОЛОВОЙ СИСТЕМЫ (N00-N99)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="O00-O99" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">O00-O99</span>
		<span>БЕРЕМЕННОСТЬ, РОДЫ И ПОСЛЕРОДОВОЙ ПЕРИОД (O00-O99)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="P00-P96" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">P00-P96</span>
		<span>ОТДЕЛЬНЫЕ СОСТОЯНИЯ, ВОЗНИКАЮЩИЕ В ПЕРИНАТАЛЬНОМ ПЕРИОДЕ (P00-P96)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="Q00-Q99" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">Q00-Q99</span>
		<span>ВРОЖДЕННЫЕ АНОМАЛИИ [ПОРОКИ РАЗВИТИЯ], ДЕФОРМАЦИИ И ХРОМОСОМНЫЕ НАРУШЕНИЯ (Q00-Q99)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="R00-R99" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">R00-R99</span>
		<span>СИМПТОМЫ, ПРИЗНАКИ И ОТКЛОНЕНИЯ ОТ НОРМЫ, ВЫЯВЛЕННЫЕ ПРИ КЛИНИЧЕСКИХ И ЛАБОРАТОРНЫХ ИССЛЕДОВАНИЯХ, НЕ КЛАССИФИЦИРОВАННЫЕ В ДРУГИХ РУБРИКАХ (R00-R99)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="S00-T98" class="hasChildren expandable"><div class="hitarea hasChildren-hitarea expandable-hitarea"></div>
		<span class="t">S00-T98</span>
		<span>ТРАВМЫ, ОТРАВЛЕНИЯ И НЕКОТОРЫЕ ДРУГИЕ ПОСЛЕДСТВИЯ ВОЗДЕЙСТВИЯ ВНЕШНИХ ПРИЧИН (S00-T98)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
	<li id="Z00-Z99" class="hasChildren expandable lastExpandable"><div class="hitarea hasChildren-hitarea expandable-hitarea lastExpandable-hitarea"></div>
		<span class="t">Z00-Z99</span>
		<span>ФАКТОРЫ, ВЛИЯЮЩИЕ НА СОСТОЯНИЕ ЗДОРОВЬЯ И ОБРАЩЕНИЯ В УЧРЕЖДЕНИЯ ЗДРАВООХРАНЕНИЯ (Z00-Z99)</span>
		<ul style="display: none;">
			<li class="last"><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
</ul>