{% for code in codes %}
	<li id="{{ code.id }}" class="hasChildren">
		<span class="t">{{ code.id }}</span>
		<span>{{ code.text|raw }}</span>
		<ul>
			<li><span class="placeholder">&nbsp;</span></li>
		</ul>
	</li>
{% endfor %}