<h1>{{ phthgroup.Name }}</h1>

<div class="anons anons-head">
	<span>Фармако-терапевтическая группа ГосРеестра МинЗдрава РФ</span>
</div>

<div class="block">
	<span class="block-head">Название:</span>
	<span>{{ phthgroup.Name }}</span>
</div>

{% if products is defined and products is not empty %}
	<div class="block">
		<div class="block-head">Препараты группы</div>
		{% include 'VidalDrugBundle:Vidal:render_products.html.twig' %}
	</div>
{% else %}
	<div class="no-results">
		Не найдено препаратов
		<span>{{ phthgroup.Name|capitalize }}</span>
	</div>
{% endif %}