<div class="anons">Нозологический указатель</div>

<div class="block">
	<span class="block-head">Название:</span>
	<span>{{ nozology.Name|raw }}</span>
</div>

<div class="block">
	<span class="block-head">Код:</span>
	<span><b>{{ nozology.Code }}</b></span>
</div>

{# Препараты #}
{% if products is defined and products is not empty %}
	<div class="block">
		<div class="block-head">Препараты нозологической группы</div>
		{% include 'VidalDrugBundle:Vidal:render_products.html.twig' %}
	</div>
{% else %}
	<div class="no-results">
		Препаратов не найдено
	</div>
{% endif %}

{# Описания активных веществ #}
{% if molecules is defined and molecules is not empty %}
	<div class="block">
		<div class="block-head">Описания активных веществ под международным непатентованным наименованием</div>
		{% include 'VidalDrugBundle:Vidal:render_molecules.html.twig' %}
	</div>
{% endif %}
