{% if number == 1 %}
    <div class="heli-title">
        Cимптомы заражения Хеликобактер пилори
    </div>
    <div class="heli-full-text">
        Заподозрить наличие Хеликобактер пилори в организме достаточно сложно.
        Дело в том, что заражение этой бактерией часто протекает бессимптомно.
        Это означает, что только на основании наличия тех или иных симптомов
        нет совершенно никакой возможности установить, заражен ли человек
        Хеликобактер пилори или нет. Окончательно убедиться в отсутствии бактерии
        Хеликобактер пилори можно, только пройдя специальное медицинское
        обследование...
    </div>
{% endif %}


{% if number == 2 %}
    <div class="heli-title">
        Cимптомы заражения Хеликобактер пилори
    </div>
    <div class="heli-full-text">
        Заподозрить наличие Хеликобактер пилори в организме достаточно сложно.
        Дело в том, что заражение этой бактерией часто протекает бессимптомно.
        Это означает, что только на основании наличия тех или иных симптомов
        нет совершенно никакой возможности установить, заражен ли человек
        Хеликобактер пилори или нет. Окончательно убедиться в отсутствии бактерии
        Хеликобактер пилори можно, только пройдя специальное медицинское
        обследование...
    </div>
{% endif %}