{% extends 'VidalMainBundle::layout.html.twig' %}


{% block content %}
	<table border="0" cellspacing="0" cellpadding="0" width="100%" style="width: 100%">
	<tbody>
	<tr>
	<td style="border-bottom-color: #ece9d8; padding-bottom: 3.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 3.75pt; padding-right: 3.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 3.75pt">
	<div><font size="3"><img align="right" width="91" height="120" src="/netcat_files/Image/book2014.jpg" vspace="20"
							 alt=""></font></div>
	<div>&nbsp;</div>
	<div><font size="3">Уважаемые читатели!</font></div>
	<div>&nbsp;</div>
	<div>&nbsp;</div>
	<div><font size="3">Вы можете приобрести справочники <strong>ВИДАЛЬ&nbsp;</strong>"Лекарственные препараты&nbsp;в
			России"<strong>&nbsp;2014</strong>&nbsp; наиболее удобным для Вас способом:</font></div>
	<ul>
		<li><span style="color: black; font-size: 9pt"><font size="3">Покупка в магазинах и книготорговых
					организациях</font><font size="3"> в Москве и других городах России:</font></span><br>
			<br>

			<div><strong><font size="2">Покупка в магазинах и книготорговых организациях</font></strong></div>
			<table border="1" cellpadding="0">
				<tbody>
				<tr>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Москва</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">ЮБМ Медика Рус<br>
								Отдел оптовых продаж</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Есенинский бульвар,<br>
								1/26 корп. 1</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">(095) 379-05-00</font></div>
					</td>
				</tr>
				<tr>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Москва</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Медицинская книга</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Комсомольский просп., 25</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">(095) 245-3927</font></div>
					</td>
				</tr>
				<tr>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Москва</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Московский Дом книги</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Новый Арбат ул., 8</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">(095) 290-40-75</font></div>
					</td>
				</tr>
				<tr>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Москва</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Молодая Гвардия</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Б. Полянка ул., 28</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">(095) 238-50-01</font></div>
					</td>
				</tr>
				<tr>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Москва</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Книжный клуб 36’6</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Бакунинская ул., 71, стр.10</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">(095) 540-45-44</font></div>
					</td>
				</tr>
				<tr>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Москва</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Лабиринт</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">2-й Рощинский пр-д, д.8, стр.1</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">(095)231-46-79</font></div>
					</td>
				</tr>
				<tr>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Санкт-Петербург</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Санкт-Петербургский Дом книги</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Невский просп., 28</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">(812) 318-64-38</font></div>
					</td>
				</tr>
				<tr>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Краснодар</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">ООО «Когорта»</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">ул. Ленина, 101</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">(8612) 62-54-97</font></div>
					</td>
				</tr>
				<tr>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">Минск (Беларусь)</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">ООО «Виртан»</font></div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div>&nbsp;</div>
					</td>
					<td style="border-bottom-color: #ece9d8; padding-bottom: 0.75pt; background-color: transparent; border-top-color: #ece9d8; padding-left: 0.75pt; padding-right: 0.75pt; border-right-color: #ece9d8; border-left-color: #ece9d8; padding-top: 0.75pt">
						<div><font size="2">(37529) 631-05-69</font></div>
					</td>
				</tr>
				</tbody>
			</table>
			<div>&nbsp;<br>
				&nbsp;</div>
		</li>
		<li><span style="color: black; font-size: 9pt"><font size="3"><a name="1"></a>Пересылка по почте</font><font
					size="3"> в пределах России:<br>
				</font></span>&nbsp;
			<ul>
				<li><span style="color: black; font-size: 9pt"><font size="3">Сделайте <strong>заказ</strong> по тел.:
							<strong><font size="2">- /499/ 975-36-56</font></strong></font></span>&nbsp;</li>
				<li><span style="color: black; font-size: 9pt"><font size="3">Получите <strong>счет для оплаты</strong>
							Справочника и почтовых услуг. </font></span></li>
				<li><span style="color: black; font-size: 9pt"><font size="3">Обратите Ваше внимание на правильность
							заполнения <strong>платежного поручения</strong>! </font></span></li>
				<li><span style="color: black; font-size: 9pt"><font size="3">Не забудьте сообщить <strong>Ваш почтовый
								адрес</strong>.</font></span></li>
			</ul>
		</li>
	</ul>
	<p style="margin-left: 40px"><font size="3">Справочники будут отправлены на указанный адрес в течение недели с
			момента поступления денег. Стоимость 1 экз., включающая почтовые услуги и НДС:<br>
			<span
				style="font-family: Arial; color: black; font-size: 12pt; mso-fareast-font-family: 'Times New Roman'; mso-ansi-language: RU; mso-fareast-language: RU; mso-bidi-language: AR-SA">Справочник Видаль 2014 –&nbsp;<strong><span
						style="font-family: Arial">1200 руб.</span></strong></span></font></p>
	<ul>
		<li><font size="3"><span style="font-size: 9pt"><font size="3"><a name="2"></a>Приобретение справочников по
						безналичному расчету самовывозом со склада в Москве </font><span style="color: windowtext"><font
							size="3">(метро «Кузьминки»,</font> </span></span></font><font size="3"><span
					style="font-size: 9pt"><span style="color: windowtext; font-size: 12pt">Есенинский бульвар, д.1/26 корп. 1, тел (495) 379-05-00):</span></span></font><br>
			<br>

			<div><font size="3"><strong><font size="2">В г.</font> Москве</strong>&nbsp; </font></div>
			<div><font size="3">&nbsp;</font></div>
			<ul>
				<li><span style="color: black; font-size: 9pt"><font size="3">Сделайте <strong>заказ</strong> по тел.:
						</font></span><span style="color: black; font-size: 9pt"><font size="3"><strong><font size="2">/499/
									975-36-56</font></strong></font></span></li>
				<li><span style="color: black; font-size: 9pt"><font size="3">Получите <strong>счет для оплаты</strong>
							Справочника. </font></span></li>
				<li><span style="color: black; font-size: 9pt"><font size="3">Самовывоз со склада после поступления
							денег на счет ЗАО «Видаль Рус» .</font></span></li>
			</ul>
		</li>
	</ul>
	<div style="margin-left: 40px"><font size="3">Стоимость при получении самовывозом со склада (с учетом
			НДС): </font><br>
		<span style="color: black; font-size: 9pt"><font size="3">Справочник Видаль 2014 – <strong>9</strong><strong>00
					руб. </strong></font></span></div>
	<div style="margin-left: 40px">&nbsp;</div>
	<div style="margin-left: 40px">&nbsp;</div>
	<div style="margin-left: 40px"><span style="font-size: medium; background-color: transparent;"><img
				src="/netcat_files/Image/mnn2013.jpg" width="86" height="130" vspace="10" hspace="10" align="left"
				alt="">В 2013 году издательство "Видаль" выпустило новую книгу –&nbsp;"Справочник международных наименований" 2013.</span>
	</div>
	<div style="margin-left: 40px"><span style="font-size: medium; background-color: transparent;"><br>
            ВИДАЛЬ «Справочник международных наименований» отражает соответствие между торговыми названиями и международными наименованиями лекарственных препаратов. Удобное компактное издание поможет врачу и фармацевту быстро справиться с поставленными задачами в условиях нового порядка назначения и выписывания лекарственных препаратов.<br>
            </span></div>
	<div style="margin-left: 40px">&nbsp;</div>
	<div style="margin-left: 40px"><span style="font-size: medium; background-color: transparent;">Справочник содержит 2264 торговых названия лекарственных препаратов, относящихся к 1023 МНН и группировочным наименованиям.</span>
	</div>
	<div style="margin-left: 40px">&nbsp;</div>
	<div style="margin-left: 40px"><span style="font-size: medium; background-color: transparent;">Стоимость справочника при получении самовывозом со склада (с учетом НДС) – <strong>385
				руб.</strong></span></div>
	<div style="margin-left: 40px">&nbsp;</div>
	<div style="margin-left: 40px"><span style="font-size: medium; background-color: transparent;">Стоимость справочника при почтовой пересылке, включая почтовые услуги и НДС: <strong>485
				руб.</strong><br type="_moz">
            </span></div>
	<div style="margin-left: 40px">&nbsp;</div>
	<div><span style="font-size: 9pt"><font size="3">&nbsp;</font></span></div>
	<div><img src="/netcat_files/Image/Veterinar2013.jpg" width="100" height="147" align="left"
			  style="background-color: transparent; font-size: medium;" hspace="20" alt=""><font size="3">Вы также&nbsp;можете
			приобрести справочники <strong>ВИДАЛЬ&nbsp;</strong>"Ветеринарные препараты в России"<strong>
				&nbsp;2014</strong>&nbsp; наиболее удобным для Вас способом:</font></div>
	<div>
		<ul>
			<li><span style="color: black; font-size: 9pt"><font size="3">Пересылка по почте</font><font size="3"> в
						пределах России — <strong>430 руб. </strong>(включая почтовую пересылку и НДС)</font></span><br>
				&nbsp;</li>
			<li><font size="3"><span style="font-size: 9pt"><font size="3">Приобретение справочников по безналичному
							расчету самовывозом со склада в Москве </font><span style="color: windowtext"><font
								size="3">(метро «Кузьминки»,</font> </span></span></font><font size="3"><span
						style="font-size: 9pt"><span style="color: windowtext; font-size: 12pt">Есенинский бульвар, д.1/26 корп. 1, тел (495) 379-05-00) — </span><strong><span
								style="color: windowtext; font-size: 12pt">360 руб.</span></strong></span></font></li>
		</ul>
	</div>
	<div>&nbsp;</div>
	<div><span style="color: black; font-size: 9pt"><font size="3">
				<div>&nbsp;</div>
				<div><font size="3">По всем вопросам, связанным с приобретением продукции VIDAL, обращайтесь по тел.:
						<strong>(499) 975-36-56</strong>, или по е-mail:&nbsp;</font><font size="3"><a
							href="mailto:vidal@vidal.ru">vidal@vidal.ru</a></font></div>
			</font></span></div>
	<div><span style="color: black; font-size: 9pt"><font size="3"><strong><br>
				</strong></font></span></div>
	<div>&nbsp;</div>
	<div><span style="color: black; font-size: 9pt"><font size="3"><span style="color: #ff0000"><strong>Приобретение
						Электронного справочника Видаль 2014</strong></span></font></span></div>
	<div>&nbsp;</div>
	<div><span style="font-size: 9pt"><strong>Электронный справочник ВИДАЛЬ 2014</strong>&nbsp;содержит информацию печатного справочника ВИДАЛЬ 2014 «Лекарственные препараты в России». Электронный справочник Видаль 2014 выпущен на CD-диске. Его можно приобрести, заказав по телефону&nbsp; <font
				size="3">499 975-54-80</font>
            <p>Все подробности <strong>см. &nbsp;</strong><a href="http://www.webvidal.ru/"><strong>http://www.webvidal.ru/</strong></a>.
			</p>
            <p><strong>Электронный справочник ВИДАЛЬ++</strong> содержит информацию печатных справочников ВИДАЛЬ
				«Лекарственные препараты в России»&nbsp; за 2006 - 2014 годы&nbsp; (25000 препаратов под торговыми
				названиями, 1800 активных веществ под международными названиями).</p>
            <p>Справочник ВИДАЛЬ++ отличается от справочника ВИДАЛЬ 2014 расширенной БД по лекарственным препаратам&nbsp;(более
				25000), возможностью обновления данных и&nbsp;&nbsp;<strong>встроенными &nbsp;модулями</strong>:&nbsp;
			</p>
            <ul>
				<li>&nbsp;&nbsp;формирования листа назначений;</li>
				<li>&nbsp;&nbsp;формирования листа аллергологического анамнеза пациента;</li>
				<li>&nbsp;&nbsp;проверки лекарственного взаимодействия препаратов;</li>
				<li>&nbsp;&nbsp;проверки на дублирование терапии;</li>
				<li>&nbsp; проверки на возможную перекрестную аллергию.</li>
			</ul>
            </span><span style="color: black; font-size: 9pt"><hr align="center" size="2" width="100%">
            </span></div>
	<div><font size="2">Для получения счета Вы можете позвонить по тел.: (499) 975-36-56&nbsp;или написать нам : </font><a
			href="mailto:vidal@vidal.ru"><span style="color: #0000ff"><u><strong><font
							size="2">vidal@vidal.ru</font></strong></u></span><font size="2"> </font></a>
		<hr align="center" size="2" width="100%">
	</div>
	</td>
	</tr>
	</tbody>
	</table>

{% endblock %}