{% extends 'VidalMainBundle::layout.html.twig' %}


{% block title %}
    <h1>
        Пангрол® — ферментный препарат
    </h1>
{% endblock %}


{% block nav %}
    <div class="breadcrumbs">
        <a href="{{ path('index') }}">Видаль</a>
        <i></i>
        <a href="{{ path('news') }}">Новости</a>
    </div>
{% endblock %}


{% block content %}
    <div class="publication">

        <div class="publication-body text" style="text-align: justify;">
            <p>Нарушения внешнесекреторной функции поджелудочной железы, сопровождающие заболевания органов пищеварения, на&nbsp;сегодняшний день &mdash; одна из&nbsp;самых актуальных тем в гастроэнтерологической и&nbsp;терапевтической практике. И&nbsp;это не&nbsp;случайно, ведь нормальное функционирование экзокринной системы желудочно-кишечного тракта лежит в&nbsp;основе множества жизненно важных процессов, отвечает за&nbsp;достаточное поступление питательных веществ в&nbsp;организм, обеспечение энергетического баланса, поддержания минерального баланса. При этом стоит отметить, что большую часть пациентов, ежедневно обращающихся на прием к врачу &mdash; терапевту, педиатру или гастроэнтерологу, составляет именно группа пациентов с&nbsp;нарушением процессов пищеварения.</p>

            <p>Нарушение процессов пищеварения может наблюдаться так же и&nbsp;у&nbsp;людей с&nbsp;нормальной функцией желудочно-кишечного тракта &mdash; при погрешностях в диете, употреблении жирной или сладкой пищи, изменении привычного рациона питания во&nbsp;время путешествий. Однако наиболее серьезной причиной нарушения пищеварения являются <strong>заболевания поджелудочной железы</strong>, сопровождающиеся снижением ее&nbsp;внешнесекреторной функции.</p>

            <p>Пищеварительные ферменты относятся к одной из наиболее часто используемых в&nbsp;гастроэнтерологии групп лекарственных средств. <strong>Ферментная терапия</strong> &mdash; важное и&nbsp;актуальное направление комплексного лечения процессов нарушенного пищеварения, особенно при хронических заболеваниях желудочно-кишечного тракта.</p>

            <p>Учитывая, что причины возникновения нарушений пищеварения могут быть разными, а&nbsp;выраженность симптомов и&nbsp;особенности течения заболевания в&nbsp;разных возрастных группах существенно различаются, в&nbsp;распоряжении врача должен быть широкий спектр ферментных препаратов, обеспечивающий возможность индивидуального подбора оптимального лечения для каждого пациента.</p>

            <p>В&nbsp;настоящее время на рынке представлен широкий спектр ферментных препаратов, характеризующихся различной комбинацией компонентов, разной формой выпуска и&nbsp;ферментной активностью. Дозировка ферментов, или энзимная активность, отличается по&nbsp;количеству липазы в единицах действия (ЕД).</p>

            <ul>
                <li>
                    <p>При погрешности в питании применяются препараты с&nbsp;небольшой дозировкой липазы &mdash;&nbsp;<strong>3000-3500&nbsp;ЕД</strong>.</p>
                </li>
                <li>
                    <p>При лечении гастроэнтерологических заболеваний, сопровождающихся экзокринной недостаточностью поджелудочной железы, стартовыми являются препараты с&nbsp;более высоким содержанием липазы,&nbsp;<strong>от&nbsp;10&nbsp;000&nbsp;ЕД</strong></p>
                </li>
            </ul>

            <p>Дозировки подбираются индивидуально в&nbsp;зависимости от&nbsp;степени выраженности недостаточности экзокринной функции поджелудочной железы, клинической симптоматики и жалоб пациента.</p>

            <p>При выборе наиболее подходящего препарата для пациента с гастроэнтерологической патологией, особенно для пациентов с установленной экзокринной недостаточностью поджелудочной железы, врачу следует учитывать следующие современные <strong>критерии оценки препарат</strong></p>

            <ul>
                <li>
                    <p>препарат должен иметь кислотоустойчивую оболочку, защищающую ферменты от&nbsp;разрушения в&nbsp;кислой среде желудка;</p>
                </li>
                <li>
                    <p>содержание пищеварительных ферментов (липаза, амилаза, протеаза) в&nbsp;препарате должно быть сбалансировано и стандартизовано;</p>
                </li>
                <li>
                    <p>лекарственная форма должна обеспечивать способность препарата смешиваться с&nbsp;пищей в желудке, и одновременно с химусом эвакуироваться в&nbsp;12-перстную кишку;</p>
                </li>
                <li>
                    <p>ферменты должны своевременно высвобождаться в&nbsp;кишечнике после эвакуации из&nbsp;желудка.</p>
                </li>
            </ul>

            <table>
                <tr>
                    <td>
                        <img src="https://www.vidal.ru/bundles/vidalmain/images/tmp/Picture1.png" style="width: 150px; padding-right: 15px;">
                    </td>
                    <td>
                        <p>Появилось дополнение к хорошо известной гастроэнтерологической линейке компании &laquo;Берлин-Хеми/А. Менарини&raquo; &mdash;<strong>современный капсулированный <a href="https://www.berlin-chemie.ru/preparats/Pangrol.phtml?utm_source=vidal&amp;utm_medium=article&amp;utm_content=pangrol_doctors&amp;utm_campaign=oct2013">ферментный препарат Пангрол®</a></strong><a href="http://www.berlin-chemie.ru/preparats/Pangrol.phtml?utm_source=vidal&amp;utm_medium=article&amp;utm_content=pangrol_doctors&amp;utm_campaign=oct2013"><sup><strong>&reg;</strong></sup></a>, отвечающий всем вышеперечисленным критериям. В&nbsp;его производстве применяется инновационная запатентованная технология Eurand Minitabs<sup>&reg;</sup> Technology. Это современная технология производства твердых лекарственных форм, применяющая ряд инновационных композиционных решений:</p>
                    </td>
                </tr>
            </table>

            <table>
                <tr>
                    <td>
                        <ul>
                            <li>
                                <p>сочетание в&nbsp;одной лекарственной форме двух видов твердых форм</p>
                                <p style="margin-left:0.64cm">твердая капсула содержит&nbsp;<em>стандартизированное количество мини-таблеток</em>&nbsp;в&nbsp;пересчете на&nbsp;ферментативную активность панкреатина;</p>
                            </li>
                        </ul>
                    </td>
                    <td><img src="https://www.vidal.ru/bundles/vidalmain/images/tmp/Picture2.png" style="width: 135px;"></td>
                </tr>
            </table>
            <ul style="padding-top: 0; padding-bottom: 0;">
                <li>
                    <p>желатиновая капсула препарата быстро растворяется в&nbsp;желудке, высвобождая мини-таблетки;</p>
                </li>
                <li>
                    <p>каждая из&nbsp;мини-таблеток устойчива к&nbsp;действию кислой среды желудка &mdash; специально подобранные вспомогательные вещества защищают мини-таблетки от&nbsp;воздействия желудочного сока, и растворение оболочек мини-таблеток и&nbsp;активация ферментов происходит только в&nbsp;нейтральной или слабощелочной среде, что обеспечивает начало активации ферментов именно в&nbsp;кишечнике;</p>
                </li>
            </ul>
            <table style="width: 100%" border="0">
                <tr>
                    <td>
                        <ul style="padding-top: 0; padding-bottom: 0;">
                            <li>
                                <p><em>одинаковый размер мини-таблеток</em>&nbsp;обеспечивает равномерность перемешивания с&nbsp;пищей и пассаж с&nbsp;химусом в&nbsp;12-перстную кишку, высокая степень фрагментации (маленький размер мини-таблеток) так же влияет на скорость растворения препарата и,&nbsp;следовательно, на&nbsp;биологическую активность;</p>
                            </li>
                        </ul>    
                    </td>
                    <td style="text-align: right">
                        <img src="https://www.vidal.ru/bundles/vidalmain/images/tmp/Picture3.png" style="width: 100px">
                    </td>
                </tr>
            </table>
            <ul style="padding-top: 0; padding-bottom: 0;">
                <li>
                    <p>мини-таблетки покрыты функциональной мембраной, что&nbsp;обеспечивает максимально&nbsp;<em>полное (&ge;95%) постепенное высвобождение ферментов</em>&nbsp;из&nbsp;минитаблеток; равномерное распределение ферментов и&nbsp;их&nbsp;оптимальной концентрации; пролонгирует их действие в&nbsp;кишечнике.</p>
                </li>
            </ul>

            <p>Данный препарат применяется в&nbsp;качестве заместительной терапии при недостаточности экзокринной функции поджелудочной железы как у взрослых, так и&nbsp;у&nbsp;детей, при&nbsp;следующих состояниях: хронический панкреатит, муковисцидоз, рак поджелудочной железы, состояния после оперативных вмешательств на&nbsp;поджелудочной железе и&nbsp;желудке, при расстройствах желудочно-кишечного тракта функционального характера, острых кишечных инфекциях, синдроме раздраженного кишечника и&nbsp;др.&nbsp;Препарат Пангрол<sup>&reg;</sup> также целесообразно назначать при подготовке к&nbsp;рентгенологическому и&nbsp;ультразвуковому исследованиям органов брюшной полости.</p>

            <p>Благодаря высокому профилю безопасности и хорошей переносимости, возможно применение препарата <strong>в течение длительного времени</strong>, что очень важно, поскольку во многих случаях ферментная заместительная терапия назначается на&nbsp;длительный срок, а&nbsp;иногда и&nbsp;пожизненно.</p>

            <p>Препарат Пангрол<sup>&reg;</sup> выпускается в&nbsp;двух дозировках &mdash; <strong>10000 ЕД </strong>(около 20 мини-таблеток в одной капсуле) и <strong>25000 ЕД </strong>(около 50 мини-таблеток в одной капуле).</p>

            <p>Каждая мини-таблетка препарата содержит 500&nbsp;ЕД липазы. Подобная форма выпуска обеспечивает возможность индивидуального подбора и&nbsp;удобство применения для&nbsp;пациентов из&nbsp;разных терапевтических групп, что, в&nbsp;свою очередь, обеспечивает высокую приверженность пациентов лечению.</p>

            <p>Все вышеперечисленные характеристики препарата позволяют ему занять достойное место в&nbsp;арсенале инструментов практикующего врача <strong>при лечении внешнесекреторной недостаточности поджелудочной железы</strong>.</p>

            <p>В приоритете &laquo;Берлин-Хеми/А.Менарини&raquo; &mdash; современность, эффективность, удобство применения и&nbsp;доступности продуктов компании для врачей и&nbsp;потребителей.</p>

            <p>&nbsp;</p>

        </div>

        <div class="publication-footer">
            <span class="publication-date">23.09.2014</span>
        </div>

    </div>

    {% include 'VidalMainBundle::yad_horizontal.html.twig' %}
{% endblock %}


{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/vidalmain/stylesheets/publication.css') }}"/>
{% endblock %}
