<div class="banner-avemed" style="text-align:center">
	<a href="http://avemed.ru/?utm_source=vidal&utm_medium=cpc&utm_content=baner14_12" target="_blank">
		<img style="border:1px solid #ddd;" src="{{ asset('bundles/vidalmain/images/banners/avemed.gif') }}">
	</a>
</div>