<div class="az-mobile" style="text-align: center; display: none; margin-bottom: 25px;">
	<a href="https://goo.gl/Qjzebr" target="_blank" class="az az-mobile"
	   style="cursor:pointer; text-align:center; display:block; border:1px solid #ccc; width: 200px; margin: 20px auto;">
		<img src="{{ asset('bundles/vidalmain/images/banners/az_200.jpg') }}" style="max-width:200px;"/>
	</a>
</div>

<script>
	$(document).ready(function() {
		if ((navigator.userAgent.match(/Android/i)
			|| navigator.userAgent.match(/webOS/i)
			|| navigator.userAgent.match(/iPhone/i)
			|| navigator.userAgent.match(/iPad/i)
			|| navigator.userAgent.match(/iPod/i)
			|| navigator.userAgent.match(/BlackBerry/i)
			|| navigator.userAgent.match(/Windows Phone/i))
			&& window.screen.width < 768
		) {
			$('.az-desktop').hide();
			$('.az-mobile').show();
		}
	});
</script>