<script type="text/javascript" src="/bundles/vidalmain/javascripts/swiffy2.js"></script>

<a id="banner-lions"
   style="width:200px; height:400px; text-align:center; display:block;"
   href="https://www.vidal.ru/neiro_doz?test=test" target="_blank">
</a>
<script>
	var stage = new swiffy.Stage(document.getElementById('banner-lions'),
		swiffyobject, {});

	stage.start();
</script>
