{#<a href="http://www.mediexpo.ru/calendar/forums/md-2016/" target="_blank" class="mother mother-desktop"#}
   {#style="cursor:pointer; text-align:center; display:block; border:1px solid gray; width: 160px; margin-bottom:25px;">#}
	{#<img src="{{ asset('bundles/vidalmain/images/banners/mother.jpg') }}" style="max-width:160px;"/>#}
{#</a>#}

{#<script>#}
	{#$(document).ready(function() {#}
		{#$('.mother').click(function() {#}
			{#ga('send', 'event', 'Mother & Child XVII', 'click', $(this).attr('href'));#}
		{#});#}
	{#});#}
{#</script>#}