{% if env_local != 'true' %}
	<a href="https://www.vidal.ru/novosti/5937" target="_blank"
	   style="display:block;margin-left:21px;margin-bottom:25px;">
		<img src="{{ asset('bundles/vidalmain/images/banners/banner-novost-2.gif') }}"/>
	</a>
{% endif %}