{% if env_local != 'true' %}
	<a href="https://www.vidal.ru/novosti/5943" target="_blank"
	   style="display:block;margin-left:21px;margin-bottom:25px;">
		<img src="{{ asset('bundles/vidalmain/images/banners/vet-2017.gif') }}"/>
	</a>
{% endif %}